.img-me {
    border-radius: 30%;
    min-height: 30vh;
    max-width: 15vw;
    margin-left: 1vw;
}

.about {
    font-size: 3rem;
    margin-left: 3vw;
}

.container p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: -2vh;
}

p {
    line-height: 1.4; 
    padding: 20px; 
    border-right: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 800px;
    margin: 10px auto;
    display: inline-block;
}

body.dark-theme p {
    overflow-wrap: break-word;
    line-height: 1.3; 
    padding: 20px; 
    border-right: 3px solid #8519ff;
    border-left: 3px solid #8519ff;
    border-top: 3px solid #8519ff;
    border-bottom: 3px solid #8519ff;
    width: 800px;
}

/* Default colors */
body {
    color: var(--text-color);
    background: var(--bkg-color); 
}

/* Dark theme colors */
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #232B32;
}
/* Dark theme Anchor Color */
body.dark-theme a {
    color: #8519ff;
} 

body.dark-theme img {
    filter: brightness(.8) contrast(1.2);
}

body.dark-theme .about {
    font-size: 3rem;
    margin-left: 3vw;
    letter-spacing: 2px;
    font-weight: 500;
    color: #8519ff;
}

/* Styles for users who prefer dark mode */
@media (prefers-color-scheme: dark) {
/* Override dark mode with light mode styles if the user decides to swap */
body.light-theme {
    --text-color: #222;
    --bkg-color: #eee;
    }
}

.btn-toggle {
    float:right;
    margin-right: 2px;
    border-radius: 20px;
    cursor: -webkit-grab;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

button:hover {
    color: rgb(255, 0, 0);
}

ul {
    margin: 0;
    padding: 0;
} 

ul li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    margin-top: -20px;
    align-items: center;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}

.icons a:hover {
    color: rgb(255, 0, 0);
    
}
h3 {
    text-align: left;
    font-family: monospace;
    margin-top: 70px;
    color: rgb(0, 8, 8);    
}

body.dark-theme h3 {
    color: #8519ff;
}

.projects {
    font-size: 16px;
    color: black;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects h1 {
    margin-bottom: 20px;
}

body.dark-theme h1 {
    color: #8519ff;
}

.projects a {
    color: black;
    border-right: solid 2px rgb(0, 0, 0);
    border-left: solid 2px rgb(0, 0, 0);
    border-top: solid 2px rgb(0, 0, 0);
    border-bottom: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}

.projects a:hover {
    color:rgb(255, 0, 0)
}

body.dark-theme a:hover {
    color: whitesmoke;
}


/* 3D Tiltable Element */
.box {
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center; 
    width: 32rem;
    height: 20rem;
    background: linear-gradient(60deg,#8E36D6,#5b03a3,#58cde8,#007f9c,#004757);
    transform: perspective(1000px);
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20),
                0 15px 12px rgba(0, 0, 0, 0.15);
    transition: all 180ms ease-out;
    float: right;
    cursor: pointer;
    margin-top: -20vh;
    margin-right: 5vw;
}

.box h1 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: poppins;
    text-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
    transform: translateZ(40px);
}

.circle {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.circle span {
    display: inline-flex;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.1rem;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
    transform: translateZ(40px);
}

.stay-in-touch {
    margin-left: 1vw;
    font-size: 2rem;
}

.github-logo {
    margin-left: 3vw;
}

a {
    font-size: 1rem;
}