body {
    margin: 0;
    padding: 0;
    background: url(palmtree.jpg) no-repeat; 
    background-size: cover;
    background-position: right;
}

.btn-toggle {
    float:right;
    margin-top: -1000px;
    margin-right: 2px;
    border-radius: 20px;
    cursor: -webkit-grab;
    background-color: black;
    color: white;
}

button:hover {
    color: rgb(0, 204, 255);
}

.root {
    width: 450px;
    background: rgba(0, 136, 146, 0.4);
    padding: 40px;
    text-align: left;
    margin: left;
    margin-bottom: 5%;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Century Gothic', sans-serif;
   
}

.about {
    text-align: justify;
    
}

.img-me {
    border-radius: 30%;
    width: 200px;
}

.container p {
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 400;
}

.about {
    text-align: justify;
    font-display: bold;
    size: 200rem;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    margin-top: -20px;
    align-items: center;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}

.icons a:hover {
    color: rgb(24, 224, 164);
    
}
h3 {
  text-align: left;
  font-family: monospace;
  margin-top: 70px;
  color: rgb(0, 8, 8);    
}

.projects {
   font-size: 16px;
   color: black;
   font-weight: lighter;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects h1 {
    margin-bottom: -1px;
}

.projects a {
    color: black;
    border-right: solid 1px rgb(0, 0, 0);
}


