body {
    margin: 0;
    padding: 0;
    background: url(palmtree.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}

.root {
    width: 450px;
    background: rgba(8, 212, 226, 0.4);
    padding: 40px;
    text-align: left;
    margin: left;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.root-img {
    border-radius: 30%;
    width: 200px;
}

.root h1 {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 200;
}

.root p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.root li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.root li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}

.root li a:hover {
    color: rgb(24, 224, 164);
    
}
