a.button {
    font-size: 2rem;
    color: #A0DAA9; 
    margin-top: 650px;
    margin-left: 200px;
    justify-content: center;
    opacity: 1.6;
    text-decoration: none; 
    font-family: cursive;
    display: flex;
    cursor: pointer;
}

html {
    background: url(/palmtree.jpg) no-repeat center fixed;
    background-size: cover;
    font-size: calc(1em + 1vw);
}



